:root {
    --main-bgcol: #FDDFD0;
}

body {
    background-color: var(--main-bgcol);
}

.container-main {
    text-align: center;

}

.c-top-left{
    float: left;
    width: 10%;
}

.c-top-right {
    float: right;
    width: 90%;
}

.container-top:after {
    content: " ";
    display: table;
    clear: both;
}

.logo-main {
    max-height: 100%;
    max-width: 100%;
}

