:root {
    --main-bgcol: #f7aa6f;
}


body {
    background-color: var(--main-bgcol);
}


.container-main {
    text-align: center;

}

.c-top-left{
    float: left;
    width: 10%;
}

.c-top-right {
    float: right;
    width: 90%;
}

.container-top:after {
    content: " ";
    display: table;
    clear: both;
}

.logo-main {
    max-height: 100%;
    max-width: 100%;
}

.container-intro {
    text-align: left; /* override parent */
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container-people {
    margin-left: 10%;
    margin-right: 10%;
}

.container-people::after {
    content: "";
    clear: both;
    display: table;
}

.people-col {
    margin: 1%;
    width: 30%;
    float: left;
} 

.people-col > .card {
    padding: 5% 5% 5% 5%; 
}

.card-img {
    width: 50%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card-title {
    color: #EEEEEE;
}

.container-footer::after{
	content: "";
	clear: both;
	display: table;
}
.footer-col{
    margin 10%;
    width: 30%;
    float: left;
}


